%hover-effect {
    background: var(--line-gr-back);
    box-shadow: var(--shadow-hover);
}
%cont-but {
    line-height: 56px;
    padding: 0 32px;
    border-radius: 30px;
    color: #fff;
    background: #fff;
    box-shadow: var(--main-shadow);
}
%font-param-title {
    font-weight: 700;
    font-size: 1.625rem;
    line-height: 160%;
}


.keisi {
    background-color: var(--back-color);
    padding-top: 85px;
    //padding-bottom: 90px;
    position: relative;

    &::after {
        content: url(/local/templates/.default/assets/img/background/background-keis.png);
        position: absolute;
        left: 0;
        top: -440px;
        width: 100%;
        overflow: hidden;
    }

    &::before {
        content: url(/local/templates/.default/assets/img/background/line-back-keis.png);
        position: absolute;
        right: 0;
        top: -555px;
        z-index: 1;
        height: -webkit-fill-available;
        overflow: hidden;
    }

    &__title {
        margin-bottom: 60px;
    }

    &__item {
        height: 490px;
        transition: all 0.8s ease;

        &:hover {
            margin-top: -5px;
            height: 500px;
            margin-bottom: 0;
            transform: scale(1.02);
        }

        &__title_preview {
            @extend %font-param-title;
            margin-bottom: 20px;
        }

        &__text_preview {
            line-height: 160%;
        }

        .item {
            &__title {
                @extend %font-param-title;
                color: #959595;
                display: block;
            }

            &__category {
                @extend %font-param-title;
                color: #3F4347;
                display: block;
            }

            &__text {
                display: block;
                transition: 1s;
                height: 230px;
                font-weight: 600;
                font-size: 1.125rem;
                line-height: 160%;
                margin-bottom: 60px;

                p {
                    padding: 0;
                    margin-bottom: 20px;
                }
            }

            &__price {
                font-size: 1.375rem;
                line-height: 160%;
            }

            &__button {
                &_close {
                    display: none;
                }

                &_open {
                    display: none;
                }
            }

            &__buttons {
                display: flex;
                height: 56px;
                margin-top: 25px;
            }
        }

        .buttons__item {
            @extend %cont-but;
            height: 100%;
            margin-right: 20px;

            &:hover {
                background: #fff;
                box-shadow: var(--shadow-hover);

                a {
                    background: var(--line-gr-back-btn);
                    -webkit-background-clip: text;
                    -webkit-text-fill-color: transparent;
                    mix-blend-mode: inherit;
                }
            }
            &:hover:active {
                background: var(--line-gr-back-btn);
                box-shadow: var(--main-shadow);
                a {
                    mix-blend-mode: plus-lighter;
                }
            }
            .item__link {
                font-weight: 700;
                font-size: 1rem;
                line-height: 20px;
                text-decoration: none;
                background: var(--line-gr-back-btn);
                -webkit-background-clip: text;
                -webkit-text-fill-color: transparent;
                mix-blend-mode: inherit;
            }
        }
    }

    &__button {
        text-align: center;
        margin-top: 60px !important;
    }

    &.service {
        padding-top: 120px;

        &::before {
            content: url(/local/templates/.default/assets/img/background/keisi-service-back.png);
            position: absolute;
            left: 0;
            right: auto;
            top: 20px;
            width: 100%;
            overflow: unset;
        }

        &::after {
            display: none;
        }
    }

    &.case_all {
        margin-bottom: 60px;
    }

    .card {
        position: relative;
        height: 100%;

        &__img {
            max-height: 270px;
        }
    }

    .item__title_preview {
        min-height: 55px;
    }
}

@media (min-width: 768px) {
    .keisi {
        &__item {
            &:hover {
                margin-top: 0;
            }
        }
    }
}

@media (max-width: 1260px) {
    .keisi {
        &__item {
            height: 400px;

            &:hover {
                margin-top: -5px;
            }
        }

        .card__img {
            max-height: 180px;
        }
    }
}

@media (max-width: 768px) {
    .keisi {
        padding-top: 20px;

        &.service {
            padding-top: 60px;
        }

        &__item {
            //pointer-events: none;
            transition: none;
            height: auto;
            position: relative;

            .item__buttons {
                display: flex;
                height: auto;
                margin-top: 25px;
                flex-wrap: wrap;
                justify-content: space-between;
            }

            .buttons__item {
                height: 100%;
                margin-right: 0;
                margin-bottom: 20px;
                &:nth-last-child(1) {
                    margin-bottom: 0;
                }
            }

            .item__text {
                height: auto;
                font-size: 1rem;
                margin-bottom: 30px;
            }

            &:hover {
                height: auto;
                transform: none;
                margin-top: 0;
            }
        }

        .item{
            &__button {
                display: block;
                text-align: center;
                margin: 15px 0;

                &_close {
                    position: absolute;
                    top: 0;
                    right: 20px;

                    .btn {
                        padding: 0;
                        width: 30px;
                        height: 30px;
                        display: flex;
                        justify-content: center;
                        align-items: center;
                    }

                    img {
                        transform: rotate(45deg);
                    }
                }
            }

            &__title {
                font-size: 1.375rem;

                &_preview {
                    min-height: auto;
                    margin-bottom: 15px;
                }
            }

            &__category {
                font-size: 1.25rem;
            }

            &__text {
                height: auto;
            }
        }

        .card {
            &__img {
                max-height: 220px;
            }
        }

        &__button {
            margin-top: 30px !important;
        }
    }
}

@media (max-width: 480px) {
    .keisi {
        &__item {
            .item__buttons {
                margin-top: 15px;
                display: flex;
            }

            .buttons__item {
                width: fit-content;
                margin: 0 auto 10px;
            }

            .item__text {
                font-size: .875rem;
                margin-bottom: 20px;
            }
        }

        .item{
            &__title {
                font-size: 1.25rem;

                &_preview {
                    min-height: auto;
                    margin-bottom: 10px;
                }
            }

            &__category {
                font-size: 1.125rem;
            }
        }

        .card {
            &__img {
                max-height: 180px;
            }
        }
    }
}

@media (max-width: 375px) {
    .keisi {
        .card {
            &__img {
                max-height: 140px;
            }
        }
    }
}