.result_case {
  background: var(--back-color);
  position: relative;

  &:before {
    content: url("/local/templates/.default/assets/img/background/result_case_back.png");
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: hidden;
    z-index: 1;
  }

  .swiper {
    width: 100%;
    height: 100%;
    padding-top: 15px;

    &-slide {
      &__img {
        padding: 10px 25px 30px 10px;

        img {
          width: 100%;
          height: 100%;
          object-fit: contain;
          box-shadow: var(--main-shadow);
        }
      }

      &__title {
        text-align: center;
        font-weight: 600;
        font-size: 1.375rem;
        line-height: 133%;
        width: 50%;
        margin: 0 auto;
        min-height: 65px;
      }
    }
  }

  .result_swiper__button {
    text-align: center;
    position: relative;
    margin-top: 20px;
    margin-bottom: 35px;
    z-index: 10;
    margin-right: 25px;

    .button__arrow {
      position: absolute;
      right: 0;
      top: 0;
      display: flex;
    }
  }
}